{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        {% for i in products.object_list %}
    <div class="col-lg-6 col-md-12 col-sm-12 justify-content-center" style="padding-left: 12; padding-right: 0; padding-bottom: 50px;">		
        <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
              <h2 class="display-5">{{i.brand}}</h2>
            </div>
            <div class="bg-body-tertiary shadow-sm mx-auto d-flex justify-content-center" style="width: 80%; height: 622px; border-radius: 21px 21px 0 0;">
              <div class="card" style="width: 27rem; border-width: 0;">
                <img class="card-img-top" src="{{i.show_image_1.image.url}}" alt="Card image cap" style="height:500px;">
                <div class="card-body">
                  <h5 class="card-title">{{i.modelName}}</h5>
                  <h5 class="card-text">{{i.price}}</h5>
                  <a href="{{i.getUrlDev}}" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    {% endfor %}
    </div>
     </div>

     <center>
      {% for p in products.paginator.page_range %}
      <a href="?page={{p}}" class="btn btn-small btn-outline-warning">{{p}}</a>
      {% endfor %}
    </center>

    {% endblock %}